* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  background-color: aqua;
  padding: 10px;
}

.circle {
  border-radius: 50%;
  cursor: pointer;
}

.circle.selected {
  border: 5px solid black;
}

.circle.lg {
  width: 50px;
  height: 50px;
}
.circle.md {
  width: 30px;
  height: 30px;
}
.circle.sm {
  width: 20px;
  height: 20px;
}

.circle.blue {
  background-color: blue;
}
.circle.red {
  background-color: red;
}

.circle.inactive {
  opacity: 0.3;
}

.circle:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.grid {
  background-color: rgb(79, 156, 104);
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.grid-field {
  border: 1px solid black;
  cursor: pointer;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.grid-field.unplayable {
  background-color: rgba(40, 78, 52, 0.329);
}

.figures-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem;
}
