.square {
  width: 100px;
  height: 100px;
  background-color: whitesmoke;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  cursor: pointer;
}

.figures {
  display: flex;
  align-items: center;
  gap: 10px;
}

.figure {
  cursor: pointer;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.figure.red {
  color: red;
}

.figure.blue {
  color: rgb(93, 0, 255);
}

.figure.small {
  font-size: 1.5rem;
}

.figure.large {
  font-size: 3rem;
}
